*.swp
*.pyc

# build and packaging artefacts
/coverage/
/dist/
/src/service.egg-info/
/build/
/docs/_build/
/.tox/
/.coverage
/test/test-*.log

# virtual environments
/venv/
.venv/

# macos stuff
.DS_Store
